# Loops

In [18]:
list1 = ["Umair", "Noman", "Salman", "Arsalan"]

In [19]:
for temp_var in list1:
    if temp_var == 'Salman':
        print ("Found Salman in List")
        break
    else:
        print ("Not Found")

# It will stop when it found the name of salman in the list

Not Found
Not Found
Found Salman in List

In [20]:
# break allows you to exit a loop when an external condition is met.

In [21]:
# without break keyword:

for temp_var in list1:
    if temp_var == 'Salman':
        print ("Found Salman in List")
    else:
        print ("Not Found")
# It will show the fourth name also in the list

Not Found
Not Found
Found Salman in List
Not Found

##  Making Tables by Loop

In [22]:
for temp in range(1, 11):
    print(temp)

1
2
3
4
5
6
7
8
9
10

In [23]:
for temp in range(1, 11):
    print(f"2 êÑÇ {temp} = {temp * 2}")

2 êÑÇ 1 = 2
2 êÑÇ 2 = 4
2 êÑÇ 3 = 6
2 êÑÇ 4 = 8
2 êÑÇ 5 = 10
2 êÑÇ 6 = 12
2 êÑÇ 7 = 14
2 êÑÇ 8 = 16
2 êÑÇ 9 = 18
2 êÑÇ 10 = 20

## Nested For Loop

#### Without Nested for loop

In [24]:
for temp in range(1, 11):
    print(f"2 x {temp} = {temp * 2}")
for temp in range(1, 11):
    print(f"3 x {temp} = {temp * 3}")
for temp in range(1, 11):
    print(f"4 x {temp} = {temp * 4}")
for temp in range(1, 11):
    print(f"5 x {temp} = {temp * 5}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### Applying Nested For Loop

In [28]:
for temp in range(2, 6):
    print(f"Table of {temp}")
    for temp_2 in range(1, 11):
        print(f"{temp} x {temp_2} = {temp *temp_2}")

Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
table_start = int(input("Table Start Number: "))
table_end = int(input("Table End Number: "))
table_lenght = int(input("Table Lenght: "))

for temp in range(table_start, table_end + 1):
    print(f"Table of {temp}")
    for temp_2 in range(1, table_lenght + 1):
        print(f"{temp} x {temp_2} = {temp * temp_2}")

Table Start Number: 3
Table End Number: 7
Table Lenght: 5
Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
Table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35

###  Use upper &lower Methods
## upper

In [29]:
list1

['Umair', 'Noman', 'Salman', 'Arsalan']

In [42]:
list_upper = []

for temp in list1:
    list_upper.append(temp.upper())

In [43]:
list_upper

['UMAIR', 'NOMAN', 'SALMAN', 'ARSALAN']

###  lower

In [44]:
list_lower = []

for temp in list1:
    list_lower.append(temp.lower())

In [45]:
list_lower

['umair', 'noman', 'salman', 'arsalan']

###  Example 2

In [3]:
first_names = ["Umair", "Noman", "Salman",]
last_names = ["Nawaz", "Khan", "Bro"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name )

In [4]:
full_names

['Umair Nawaz',
 'Umair Khan',
 'Umair Bro',
 'Noman Nawaz',
 'Noman Khan',
 'Noman Bro',
 'Salman Nawaz',
 'Salman Khan',
 'Salman Bro']

## Creating a simple ID Card

In [8]:
name = input("Enter Your Name: ")
fathername = input("Enter Your Father's Name: ")
cnic = int(input("Enter CNIC Number: "))
course = input("Enter Your Course: ")

print("Your Entered Information")

print(f"Name: {name}")
print(f"Father's Name: {fathername}")
print(f"CNIC: {cnic}")
print(f"Course: {course}")

print("*** Saylani Mass IT Training ***")

Enter Your Name: Umair
Enter Your Father's Name: Muhammad Nawaz
Enter CNIC Number: 9876543210
Enter Your Course: Python Programming
Your Entered Information
Name: Umair
Father's Name: Muhammad Nawaz
CNIC: 9876543210
Course: Python Programming
*** Saylani Mass IT Training ***