In [1]:
countries = ["Pakistan", "China", "Afghanistan", "India"]

In [2]:
countries

['Pakistan', 'China', 'Afghanistan', 'India']

#  Appending values in List

In [3]:
countries = countries + ["Iran", "Turkey"]

In [4]:
countries

['Pakistan', 'China', 'Afghanistan', 'India', 'Iran', 'Turkey']

In [5]:
countries.append("New York")

In [6]:
countries

['Pakistan', 'China', 'Afghanistan', 'India', 'Iran', 'Turkey', 'New York']

In [7]:
countries.insert(2, "Canada")

In [8]:
countries

['Pakistan',
 'China',
 'Canada',
 'Afghanistan',
 'India',
 'Iran',
 'Turkey',
 'New York']

In [9]:
countries.insert(3, "Pakistan")

In [10]:
countries

['Pakistan',
 'China',
 'Canada',
 'Pakistan',
 'Afghanistan',
 'India',
 'Iran',
 'Turkey',
 'New York']

#  Slicing

In [11]:
countries

['Pakistan',
 'China',
 'Canada',
 'Pakistan',
 'Afghanistan',
 'India',
 'Iran',
 'Turkey',
 'New York']

In [12]:
smaller_list_of_countries = countries[1:8]

In [13]:
smaller_list_of_countries

['China', 'Canada', 'Pakistan', 'Afghanistan', 'India', 'Iran', 'Turkey']

#  Deleting and Removing Elements

In [14]:
tasks = ["email Frank", "call Sarah", "meet with Zach"]

In [15]:
tasks[0]

'email Frank'

In [16]:
tasks[1]

'call Sarah'

In [17]:
tasks[2]

'meet with Zach'

In [18]:
del tasks[1]

In [19]:
tasks #it has deleted

['email Frank', 'meet with Zach']

In [20]:
tasks.remove("email Frank")

In [21]:
tasks

['meet with Zach']

#  Popping Elements

In [22]:
names = ["Umair Sardar", "Niaz Ali", "Salman", "Noman"]

In [23]:
names

['Umair Sardar', 'Niaz Ali', 'Salman', 'Noman']

In [24]:
names.pop(1)

'Niaz Ali'

In [25]:
daily_tasks = ["email Umair", "call Niaz", "meet with Noman"]

In [26]:
completed_tasks = []

In [27]:
completed_tasks.insert(0, daily_tasks.pop(1))

In [28]:
completed_tasks

['call Niaz']

# Tuples

In [29]:
names_of_classmates = ("Umair", "Niaz", "Noman")

In [30]:
type(names_of_classmates)

tuple

In [31]:
names_of_classmates.append("Salman") #we can't add anything in tuple

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
names_of_classmates.index('Umair')

In [ ]:
names_of_classmates.count("Umair")

#  for loops

In [32]:
countries

['Pakistan',
 'China',
 'Canada',
 'Pakistan',
 'Afghanistan',
 'India',
 'Iran',
 'Turkey',
 'New York']

In [33]:
for temp in countries:
    if temp == "Pakistan":
        print("Pakistan Zindabad")
    else:
        print("Not available")

Pakistan Zindabad
Not available
Not available
Pakistan Zindabad
Not available
Not available
Not available
Not available
Not available

In [34]:
for temp in countries:
    print (temp)

Pakistan
China
Canada
Pakistan
Afghanistan
India
Iran
Turkey
New York

In [44]:
year = int(input("Enter a Year: "))
if (year % 4 ==0) and (year % 100 ==0) and (year % 400 ==0):
    print(f"{year} is a loop year")
else:
    print (f"{year} is not a year")

Enter a Year: 1600
1600 is a loop year

In [46]:
for year in [1600, 1700, 1800, 1900, 2000]:
    
    if (year % 4 ==0) and (year % 100 ==0) and (year % 400 ==0):
        print(f"{year} is a loop year")
    else:
        print (f"{year} is not a year")

1600 is a loop year
1700 is not a year
1800 is not a year
1900 is not a year
2000 is a loop year

In [51]:
#start(s) end(e), step(st)

                # s   e  st
for temp in range(10, 19, 2):
    print(temp)

10
12
14
16
18